# WARNING: this is a minimal control file to make dch happy.
# Actual control file for the package will be generated using fpm in make_deb.sh
Source: wb-initenv
Maintainer: Wiren Board team <info@wirenboard.com>
